__pycache__/
tmp_trainer
legacy
*.pyc
*.pkl
*.png
*.parquet
*.sh
checkpoints*
slurm
out
wandb/
**results**/
embeddings/
log_submitit/
model_weights/
datasets/
media/
wandb
finetuning_unsupervised*
final_models/
old*
data/
viz/
latex/

code_ae_data/
dataset/
dataset.zip

.DS_Store
GDSC_all_genes.json
GDSC_genes.json
TCGA_all_genes.json
TCGA_genes.json
TCGA_top_genes.json
_data_statistics.ipynb
_stat_TCGA.ipynb
coexisted_genes.ipynb
tcga_w_RECIST.csv
tmp.csv